                body {
                    background-image: -webkit-linear-gradient(#c8c8a9 50%, #c8c8a9 100%) !important;
                    background-image: -o-linear-gradient(#c8c8a9 50%, #c8c8a9 100%) !important;
                    background-image: linear-gradient(#c8c8a9 50%, #c8c8a9 100%) !important;
                    overflow-y: scroll !important;
                }
                
                * {
                    border-radius: 0px !important;
                }
                
                .container-navbar {
                    margin-bottom: 10px !important;
                }
                
                .loading {
                    position: fixed;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    overflow: hidden;
                    z-index: 2000;
                    background: #191f26;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .rowBook {
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                }
                
                .rwd-table td:before {
                    content: attr(data-th)": ";
                    display: none;
                    font-weight: bold;
                }
                
                .rwd-table td {
                    display: block;
                }
                
                .paginationg>li.active>a,
                .pagination>li.active>span,
                .pagination>li.active>a:hover,
                .pagination>li.active>span:hover,
                .pagination>li.active>a:focus,
                .pagination>li.active>span:focus {
                    background-color: cadetblue !important;
                }
                
                .pagination>.active>a,
                .pagination>.active>span,
                .pagination>.active>a:hover,
                .pagination>.active>span:hover,
                .pagination>.active>a:focus,
                .pagination>.active>span:focus {
                    background-color: #2BBBAD !important;
                    border-color: #2BBBAD !important;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
                }
                
                .loader {
                    margin: auto;
                }
                
                .navbar-search-form {
                    margin-top: 15px !important;
                }
                
                .navbar {
                    border-radius: 0px;
                    letter-spacing: 2px;
                    text-shadow: -1px -1px white;
                    padding: 10px 0px;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
                }
                
                .navbar-transparent {
                    display: inline !important;
                    padding-top: 5px !important;
                }
                
                .nav>li {
                    display: inline;
                }
                
                .navbar-right {
                    margin-top: 10px !important;
                    margin-right: 20px !important;
                }
                
                .navbar .navbar-brand,
                .navbar-search-form .input-group,
                .navbar-search-form .input-group .input-group-btn,
                .dropdown-menu {
                    background-color: #242D3C !important;
                }
                
                .navbar-me {
                    height: 60px;
                    margin-bottom: -22px;
                    margin-top: -10px;
                }
                
                #myNavbar {
                    width: 100%;
                }
                
                .navbar-right>li>a,
                .navbar-right>li,
                .navbar-nav,
                .navbar-header,
                #myNavbar,
                .panel-title .row,
                .panel-title .row .col-md-6,
                .panel-title .row .col-md-6 button,
                .panel-title .row .col-md-6 button span,
                .panel-title .row .col-md-6 h5,
                .panel-title .row .col-md-6 h5 span {
                    background-color: #242D3C !important;
                }
                
                .input-group,
                .glyphicon-search,
                .fa-shopping-cart,
                .fa-pencil-square-o,
                .fa-trash-o,
                .fa-home,
                .carousel-control.left,
                .carousel-control.right,
                .glyphicon-chevron-left,
                .glyphicon-chevron-right,
                .glyphicon-shopping-cart,
                .glyphicon-heart,
                .fa-heart {
                    background-color: transparent !important;
                }
                
                .navbar-mine {
                    background-image: -webkit-linear-gradient(#242D3C 50%, #242D3C 100%) !important;
                    background-image: -o-linear-gradient(#242D3C 50%, #242D3C 100%) !important;
                    background-image: linear-gradient(#242D3C 50%, #242D3C 100%) !important;
                    border-color: white !important;
                    margin-bottom: 0px;
                }
                
                .table-striped>tbody>tr:nth-child(odd)>td,
                .table-striped>tbody>tr:nth-child(odd)>th {
                    color: #f75353 !important;
                }
                
                .btn-edit,
                .btn-trash {
                    float: right;
                    margin-top: 5px;
                }
                
                .nav-tabs>.active,
                .nav-tabs>.active a,
                .nav-tabs>.active a strong,
                .nav-tabs>.active:hover,
                .tab-content,
                .tab-content .col-md-2 {
                    background-color: #242D3C !important;
                }
                
                .col-best {
                    padding-bottom: 15px;
                }
                
                .row-pro {
                    margin-top: 20px;
                }
                
                .nav-tabs.nav-justified>.active>a,
                .nav-tabs.nav-justified>.active>a:focus,
                .nav-tabs.nav-justified>.active>a:hover {
                    border-top: 2px solid #f75353 !important;
                    color: #f75353 !important;
                    font-size: 16px;
                    border-right-color: #fff !important;
                    border-left-color: #fff !important;
                    border-bottom-color: transparent !important;
                }
                
                .input-group {
                    width: 350px;
                }
                
                .navbar-brand img {
                    display: inline !important;
                    border-radius: 50% !important;
                }
                
                #logo {
                    width: 75px;
                    height: 75px;
                }
                
                .userAvatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50% !important;
                }
                
                .dropdown-user {
                    margin-top: 0px !important;
                }
                
                .dropdown-user>a {
                    padding-top: 0px !important;
                    padding-bottom: 0px !important;
                    font-family: Roboto !important;
                    font-size: 14px !important;
                }
                
                a>#logo {
                    margin-top: -15px;
                    margin-left: 20px;
                    z-index: 1040;
                }
                
                .navbar-brand {
                    font-size: 25px;
                    color: white !important;
                    height: 80px !important;
                }
                
                .navbar-nav>li>a {
                    padding-top: 25px;
                    margin: 10px 3px !important;
                    padding-bottom: 5px;
                }
                
                .navbar li a,
                .navbar {
                    color: white;
                }
                
                .navbar-nav>li a:hover {
                    color: #f75353 !important;
                    text-shadow: -1px -1px #f75353;
                }
                
                .dropdown-menu>li>a {
                    color: #fff !important;
                    font-size: 16px !important;
                }
                
                .dropdown-menu li a:hover,
                .dropdown-menu li a:focus {
                    color: #242D3C !important;
                    background-color: #fff !important;
                    text-shadow: -1px -1px #242D3C !important;
                }
                
                ul li a,
                .navbar .btn {
                    font-family: Cuprum;
                    font-size: 18px !important;
                }
                
                .dropdown-cart li {
                    font-family: Roboto !important;
                    text-shadow: 0px 0px white !important;
                }
                
                .navbar .btn {
                    font-size: 16px !important;
                }
                
                .btnSearch:hover,
                .btnSearch:focus {
                    color: white !important;
                    border-bottom: 1px solid #f75353 !important;
                }
                
                .btn-sign:hover,
                .btn-sign:focus,
                .btn-cart:hover,
                .btn-cart:focus {
                    color: white !important;
                }
                
                .btn-cart.btn-md:hover,
                .btn-cart.btn-md:focus,
                .caret,
                .dropdown-cart,
                .dropdown-cart li,
                .dropdown-cart li span,
                .dropdown-cart li .text-center,
                .pull-right {
                    background-color: #242D3C !important;
                }
                
                .form-control {
                    color: black !important;
                }
                
                .navbar .btn-cart,
                .navbar .btn-sign {
                    margin-top: 8px !important;
                    margin-bottom: 0px !important;
                }
                
                #cart {
                    top: 5px;
                    right: 5px;
                }
                
                #signUp {
                    top: 5px;
                    left: 5px;
                }
                /* button*/
                
                .btn-buy,
                .btn-post,
                .btn-like {
                    border-radius: 0px !important;
                    background-color: #f75353 !important;
                    border-color: #fff !important;
                    color: #242D3C !important;
                }
                
                .btn-post {
                    border-color: #f75353 !important;
                }
                
                .add-search {
                    margin-top: 5px;
                    border: none !important;
                    border-bottom: 1px solid #ccc !important;
                    padding-left: 0px !important;
                }
                
                .btn-post:hover,
                .btn-post:focus,
                .btn-buy:hover,
                .btn-buy:focus,
                .btn-like:hover,
                .btn-like:focus {
                    background-color: #242D3C !important;
                    color: #f75353 !important;
                    border-color: #242D3C !important;
                }
                
                .btn-cart,
                .btn-sign {
                    border-radius: 0px !important;
                    background-color: #242D3C !important;
                    border-color: #f75353 !important;
                }
                /* Section Category */
                
                ol {
                    list-style: none;
                    padding-left: 0px;
                }
                
                .carousel-caption h4,
                .carousel-caption p,
                ol>li>a {
                    color: #000;
                    font-family: Roboto;
                }
                
                ol>li>a {
                    line-height: 2.5em;
                }
                
                ol>li>a:hover,
                ol>li>a:focus {
                    color: #f75353;
                    text-decoration: none;
                }
                
                .panel-info {
                    margin-bottom: 0px !important;
                }
                
                .thumbnail-comt>h4 {
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;
                }
                
                .thumbnail-comt {
                    border: none !important;
                    border-radius: 5px !important;
                    background-color: #566271 !important;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12) !important;
                }
                
                .well-comt {
                    border-color: #efeee1;
                    border-radius: 5px !important;
                    background-color: #efeee1 !important;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12) !important;
                }
                
                .well-comt .comment-body {
                    margin-bottom: 0px !important;
                    font-size: 15px;
                    text-align: left;
                    font-family: OpenSans;
                    color: #242D3C;
                }
                
                .img-user {
                    border-radius: 50% !important;
                }
                
                .panel-info {
                    border: 1px solid #ccc !important;
                }
                
                .panel-heading,
                .modal-head {
                    background-image: -webkit-linear-gradient(top, #242D3C 0, #242D3C 100%) !important;
                    background-image: -o-linear-gradient(top, #242D3C 0, #242D3C 100%) !important;
                    background-image: linear-gradient(to bottom, #242D3C 0, #242D3C 100%) !important;
                    color: #f75353 !important;
                    border-bottom: 1px solid #ccc !important;
                }
                
                .modal-head h4 {
                    font-family: Cuprum !important;
                }
                
                .modal-close {
                    font-size: 25px !important;
                    color: #fff !important;
                    text-shadow: 0 0 0 #fff !important;
                    opacity: 0.5 !important;
                }
                
                .modal-close:hover,
                .modal-close:focus {
                    opacity: 1 !important;
                }
                
                .modal-center {
                    padding-bottom: 0px !important;
                    padding-top: 10px !important;
                }
                
                .btn-modal {
                    margin-top: -20px;
                }
                
                .panel-body {
                    border-top: 2px solid #555 !important;
                }
                
                .panel-heading>h4 {
                    margin-bottom: 7.5px !important;
                    margin-top: 7.5px;
                }
                
                .carousel-caption,
                .carousel-caption h4,
                .carousel-caption p,
                .carousel-indicators,
                .carousel-indicators li,
                .panel-heading>h4,
                .panel-heading>h4>b,
                .panel-heading>h3>b,
                .panel-heading>h3,
                .col-md-2 .thumbnail a .caption {
                    background-color: transparent !important;
                }
                
                .category .panel-info {
                    margin-top: 10px;
                }
                
                .container {
                    position: relative;
                    top: 50px !important;
                }
                
                .carousel-inner {
                    width: 100%;
                    margin: auto;
                }
                
                .thumbnail-details {
                    max-width: 280px !important;
                    max-height: 380px;
                    padding: 10px !important;
                    margin-left: 50px;
                    border-radius: 5px !important;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12) !important;
                }
                
                .img-details {
                    width: 95%;
                    max-height: 350px !important;
                }
                
                .row-house,
                .row-main-search,
                .row-admin,
                .row-list,
                .row-genre,
                .row-admin {
                    margin-top: 45px !important;
                }
                
                .row-home {
                    margin-top: 10px !important;
                }
                
                .col-descript {
                    margin-top: 10px;
                    top: 10px !important;
                }
                
                .col-info {
                    top: 10px !important;
                    margin-top: 25px;
                }
                
                .h-comt {
                    margin-bottom: 5px;
                    margin-top: 20px;
                }
                
                .h-comt b {
                    font-family: Cuprum;
                    letter-spacing: 0.5px;
                    color: #242D3C;
                    margin-left: 15px;
                }
                
                .col-descript .panel-info,
                .col-info .panel-info {
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12) !important;
                }
                
                .full-descript p {
                    font-size: 14px !important;
                }
                
                form label,
                form textarea,
                .well-comt p,
                .btn,
                .input {
                    font-family: Roboto;
                }
                
                .user-name {
                    font-family: OpenSans;
                    color: #fff;
                }
                
                .date {
                    font-family: OpenSans;
                    color: #242D3C;
                    font-size: 13px;
                    text-align: left
                }
                
                .lines {
                    border-color: #fff !important;
                }
                
                .products {
                    margin: 0px 0px 0px 20px;
                }
                
                label {
                    font-size: 16px !important;
                    color: #fff;
                }
                
                li {
                    font-size: 16px !important;
                }
                
                .textarea {
                    margin-top: 10px !important;
                    border-color: #ccc;
                    padding: 10px 15px;
                    font-size: 16px !important;
                    color: #555 !important;
                    width: 100%;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12) !important;
                }
                
                .rate {
                    margin-left: 15px;
                }
                
                .rate>span {
                    outline: none;
                }
                
                textarea:focus,
                textarea:focusin {
                    border-color: transparent !important;
                }
                
                .btn-post {
                    float: right !important;
                    position: relative;
                    left: 0px;
                    top: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                    font-size: 16px !important;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12) !important;
                }
                
                ul.nav-tabs {
                    margin-bottom: 20px;
                }
                /*Section Main*/
                
                .author,
                h4,
                h4 b,
                h3 {
                    font-family: Cuprum;
                }
                
                h5,
                h5 b {
                    font-family: OpenSans;
                }
                
                .row-best {
                    margin-top: 0px;
                }
                
                .row-best .col-md-2 {
                    margin-bottom: 20px;
                }
                
                .row-best .col-md-2 .thumbnail {
                    width: 160.778px;
                    height: 386.414px;
                }
                /* Section Footer */
                
                footer {
                    padding: 15px;
                    color: #999;
                }
                
                footer>hr {
                    border: 0.8px solid #999;
                }
                
                .item-logo>#logo {
                    margin-top: -10px;
                    margin-right: 10px;
                }
                
                .flex-container {
                    display: -webkit-flex;
                    /* Safari */
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -moz-box-orient: horizontal;
                    /*-box-orient: horizontal;*/
                    -webkit-flex-direction: row;
                    /* Safari */
                    flex-direction: row;
                    -webkit-justify-content: space-between;
                    /* Safari */
                    justify-content: space-between;
                    -webkit-align-items: center;
                    /* Safari */
                    align-items: center;
                }
                
                .item-logo {
                    margin-left: 20px;
                }
                
                .item-info {
                    -webkit-flex-grow: 2;
                    /* Safari */
                    flex-grow: 2;
                }
                
                .item-social {
                    padding: 0 20px;
                    margin-top: -15px;
                }
                
                .item-social>a {
                    color: #999;
                }
                
                .item-social>a:hover,
                .item-social>a:focus {
                    color: #f75353;
                }
                
                nav>div>a>img>#logo {
                    width: 60px;
                    position: absolute;
                    top: -15px;
                }
                /* Section Books */
                
                .col-md-9>.row>.col-md-2 {
                    left: 20px;
                }
                
                .container-books,
                .contain-ad,
                .container-house {
                    margin-top: 20px;
                }
                /* Section Admin*/
                
                .thumbnail-admin {
                    padding-bottom: 10px !important;
                    border-radius: 4px !important;
                }
                
                .row-admin {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                
                .col-md-ad7 {
                    left: 15px;
                }
                
                .nav-pills>li.active,
                .nav-pills>li.active>a,
                .nav-pills>li.active>a:hover,
                .nav-pills>li.active>a:focus,
                .breadcrumb,
                .breadcrumb .breadcrumb-item,
                .breadcrumb .breadcrumb-item a {
                    background-color: #242D3C !important;
                    color: #f75353 !important;
                }
                
                .breadcrumb .breadcrumb-item a:hover,
                .breadcrumb .breadcrumb-item a:focus {
                    border-bottom: 1px solid #fff;
                    text-shadow: -0.5px -0.5px #f75353;
                }
                
                .breadcrumb .breadcrumb-item a {
                    font-family: Cuprum;
                    font-size: 18px;
                }
                
                .try {
                    background-color: #242D3C !important;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12) !important;
                }
                
                .sale {
                    margin-left: 15px;
                }
                
                .b-author {
                    font-family: Cuprum;
                    letter-spacing: 0.5px;
                }
                
                .au {
                    color: #2BBBAD;
                }
                
                .b-title,
                .line {
                    margin-top: 10px !important;
                }
                
                .sell-price {
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;
                    font-family: OpenSans;
                }
                
                .b-author,
                .line,
                .pre-price {
                    margin-bottom: 10px !important;
                }
                
                .add-cart {
                    width: 20% !important;
                    border: none !important;
                    border-bottom: 1px solid #ccc !important;
                }
                
                .well-title {
                    background-color: #fff !important;
                    margin: 15px 0 !important;
                    border-radius: 4px !important;
                }
                
                .nav-pills>li>a {
                    border: 1px solid #fff !important;
                    color: #888 !important;
                }
                
                .nav-tabs.nav-justified>li>a {
                    color: #888 !important;
                }
                
                .products {
                    background-color: #242D3C !important;
                    color: #f75353 !important;
                }
                
                .col-break {
                    height: auto;
                    width: 20px !important;
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                }
                
                .col-title {
                    background-color: #fff;
                }
                
                .container-title {
                    margin-top: 20px;
                }
                
                .book-gallery a {
                    color: #242D3C;
                }
                
                .price {
                    color: #f75353 !important;
                }
                
                .col-list .panel-info {
                    margin-top: 10px;
                }
                
                .row-books {
                    margin-top: 15px;
                    margin-right: 5px !important;
                    margin-left: 5px !important;
                }
                
                .thumbnail-admin h4 {
                    margin-top: 7.5px;
                    margin-bottom: 7.5px;
                }
                
                .panel-info-2 {
                    margin-top: 20px;
                }
                
                footer {
                    margin-top: 10%;
                }
                
                .btn-right {
                    float: right;
                }
                
                .nav-left {
                    margin-top: 10px !important;
                }
                
                label {
                    font-family: Roboto;
                    color: #242D3C
                }
                
                .col-md-ad7 .panel-info {
                    margin-left: -20px;
                    margin-right: -20px;
                }
                /* Section Cart Drop Down */
                
                ul.dropdown-cart {
                    min-width: 250px;
                }
                
                ul.dropdown-cart li .item {
                    display: block;
                    padding: 3px 10px;
                    margin: 3px 0;
                }
                
                ul.dropdown-cart li .item:hover {
                    background-color: #f3f3f3;
                }
                
                ul.dropdown-cart li .item:after {
                    visibility: hidden;
                    display: block;
                    font-size: 0;
                    content: " ";
                    clear: both;
                    height: 0;
                }
                
                ul.dropdown-cart li .item-left {
                    float: left;
                }
                
                ul.dropdown-cart li .item-left img,
                ul.dropdown-cart li .item-left span.item-info {
                    float: left;
                }
                
                .item-left img {
                    max-width: 25%;
                }
                
                ul.dropdown-cart li .item-left span.item-info {
                    margin-left: 10px;
                }
                
                ul.dropdown-cart li .item-left span.item-info span {
                    display: block;
                    font-family: Cuprum;
                }
                
                ul.dropdown-cart li .item-right {
                    float: right;
                }
                
                ul.dropdown-cart li .item-right button {
                    font-family: OpenSans !important;
                    margin-bottom: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-top: -80px;
                }
                
                .panel-title .row .col-md-6 button {
                    margin-top: 0px;
                }
                
                .cart {
                    margin-bottom: 20px;
                }
                
                .product-name,
                .col-md-4 h4 {
                    margin-top: 5px !important;
                    margin-bottom: 5px !important;
                }
                /* Section Sign In/ Up */
                
                .form-horizontal {
                    padding: 20px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 15px 0 rgba(0, 0, 0, 0.12) !important;
                }
                
                p {
                    margin-bottom: 10px;
                    margin-top: 10px;
                    text-align: center;
                }
                
                .blue {
                    color: #337ab7;
                }
                
                .social>a {
                    color: #999;
                }
                
                .social>a:hover,
                .social>a:focus {
                    color: #f75353;
                }
                
                .fa-facebook-f {
                    padding: 10px 12px 10px 12px;
                }
                
                .fa-google-plus {
                    padding: 10px 8px 10px 8px;
                }
                
                .fa-twitter {
                    padding: 10px 8px 10px 8px;
                }
                
                i {
                    margin-left: 5px;
                    margin-right: 5px;
                }
                
                .flip {
                    -webkit-perspective: 800;
                    perspective: 800;
                    position: relative;
                }
                
                .flip .card.flipped {
                    -webkit-transform: rotatey(-180deg);
                    transform: rotatey(-180deg);
                }
                
                .flip .card {
                    max-height: 330px;
                    height: 100%;
                    -webkit-transform-style: preserve-3d;
                    -webkit-transition: 0.5s;
                    transform-style: preserve-3d;
                    transition: 0.5s;
                    background-color: transparent !important;
                }
                
                .flip .card .face {
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    z-index: 2;
                }
                
                .flip .card .front {
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                }
                
                .flip .card .back {
                    -webkit-transform: rotatey(-180deg);
                    transform: rotatey(-180deg);
                }
                
                .flip .card-box {
                    max-height: 400px !important;
                }
                
                .flip .card-flipped-box {
                    max-height: none !important;
                }
                
                .panel-card {
                    max-height: 500px !important;
                }
                
                .inner {
                    margin: 0px !important;
                }
                
                .pre-price {
                    text-decoration: line-through;
                    font-family: OpenSans;
                }
                
                .fliper-btn {
                    color: #242D3C !important;
                    font-family: Cuprum !important;
                    letter-spacing: 0px;
                }
                
                .sign-info {
                    letter-spacing: 0.2px;
                }
                
                .link-avatar {
                    margin: 5px;
                    padding-left: 5px;
                }
                
                .sell-price {
                    color: #f75353;
                }
                
                .short-descript {
                    max-height: 80px;
                    margin-bottom: 0px !important;
                    overflow: hidden;
                }
                
                .bread-crumb {
                    border-radius: 4px !important;
                }
                
                .short-descript span,
                .short-descript p {
                    font-size: 13px;
                }
                
                .input-group-btn>.form-control {
                    display: inline-block;
                }
                
                .btnSearch {
                    width: 30px;
                    height: 22.5px;
                    position: relative;
                    top: -0.2px;
                    left: -6px;
                    z-index: 4;
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;
                    background-color: #242D3C !important;
                    border: none !important;
                }
                
                .fillter {
                    margin-left: 15px;
                }
                
                .glyphicon-search {
                    top: -7px !important;
                    left: -13px;
                }
                
                .panel-heading {
                    min-height: 65px;
                }
                
                select.form-control.search.select-search {
                    position: relative;
                    left: 0px;
                    top: 0px;
                    border-radius: 0px!important;
                    width: 100px;
                    background-color: #242D3C !important;
                }
                
                .group-search .form-control,
                .group-search .input-group-btn .search option {
                    color: #fff !important;
                    border-bottom: 1px solid #fff !important;
                }
                
                .search:hover,
                .search:focus {
                    background-color: #f75353;
                }
                
                .navbar-search-form {
                    display: block !important;
                    padding-right: 0px !important;
                }
                
                .item .panel-body.list,
                .item .panel-footer.list {
                    display: inline-grid;
                    text-align: left;
                }
                
                .descriptionList {
                    font-size: 12px
                }
                
                .panelImage {
                    width: 100%;
                    max-width: 100px;
                    max-height: 120px;
                }
                
                .titlePanel {
                    height: 9ex;
                }
                
                .thumnail-search {
                    display: inline-block;
                    margin-bottom: 80px;
                    width: 100px;
                }
                
                .item .panel-body {
                    overflow: hidden;
                    height: 200px;
                    width: auto
                }
                
                .panel-body.list {
                    position: relative;
                }
                
                .descriptionList p {
                    margin: 0px
                }
                
                .item.panel.panel-default .panel-body {
                    overflow: hidden;
                    height: 200px;
                    width: auto
                }
                
                .item .panel-footer {
                    padding: 0px 10px
                }
                
                .item .panel-body.list {
                    padding: 15px 10px
                }
                
                .glyphicon-star {
                    color: yellow;
                }
                
                .col-list .panel-info {
                    margin-top: 0px !important;
                }
                
                .thumbnail.thumnail-gallery {
                    max-width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                .imgList {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: auto;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                
                .book-gallery {
                    max-height: 100%;
                }
                
                .title {
                    height: 40px !important;
                    line-height: 1.2em;
                    color: #242D3C !important;
                }
                
                .col-gallery a:hover,
                .col-gallery a:focus {
                    opacity: 0.5;
                }
                
                .col-gallery {
                    padding: 0px;
                }
                
                .img-frame {
                    width: 100%;
                    position: relative;
                    padding-bottom: 150%;
                }
                
                .col-gallery::after {
                    content: "";
                    clear: both;
                    display: table;
                }
                
                .author {
                    height: 30px !important;
                    letter-spacing: 1px;
                    color: #242D3C
                }
                
                .price {
                    height: 10px !important;
                }
                /*----Admin---*/
                
                .item-flex {
                    display: -webkit-flex;
                    /* Safari */
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -moz-box-orient: horizontal;
                    /*-box-orient: horizontal;*/
                    -webkit-flex-direction: row;
                    /* Safari */
                    flex-direction: row;
                    -webkit-justify-content: space-around;
                    /* Safari */
                    justify-content: space-around;
                    -webkit-align-items: stretch;
                    /* Safari */
                    align-items: stretch;
                    height: 250px;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 3px !important;
                }
                
                .img-flex {
                    order: 1;
                    position: relative;
                    top: -6px;
                    left: -4px;
                    border-right: 1px solid #ccc;
                }
                
                .author-flex {
                    margin-top: 0px !important;
                    margin-bottom: 5px !important;
                    font-family: Cuprum;
                    letter-spacing: 1px;
                }
                
                .price-flex {
                    margin: 7.5px 0px;
                    color: #f75353;
                    font-family: OpenSans;
                }
                
                .price-flex:hover,
                .price-flex:focus {
                    text-shadow: -0.5px -0.5px #f75353;
                }
                
                .title-flex,
                .b-title {
                    font-family: OpenSans;
                    color: #242D3C
                }
                
                .title-flex:hover,
                .title-flex:focus {
                    color: #2BBBAD;
                }
                
                .info-flex {
                    order: 2;
                    padding: 0px 15px;
                }
                
                .img-list {
                    max-height: 240px;
                    max-width: 200px;
                }
                
                .line-flex {
                    margin: 0px;
                }
                
                .descript,
                .descript p {
                    max-height: 70px;
                    overflow: hidden;
                    font-family: Roboto;
                    font-size: 12px;
                }
                
                .fa-pencil-square-o,
                .fa-trash-o {
                    font-size: 22px;
                }
                
                .col-lists {
                    margin-top: 15px;
                }
                
                .row-flex {
                    margin-top: -15px;
                }
                
                .info-flex a {
                    color: black !important;
                }
                
                .info-flex a:hover,
                .info-flex a:focus {
                    opacity: 0.5;
                    color: #fbc02d !important;
                    text-shadow: -0.5px -0.5px #fbc02d;
                }
                /*---Check/Error Form--*/
                
                .check-position {
                    position: relative !important;
                    top: -28px !important;
                    bottom: 0px;
                    right: 35px !important;
                    float: right;
                    height: 0px;
                }
                
                .fa-check-set {
                    margin-left: 0px;
                    margin-right: 0px;
                }
                
                .signup {
                    margin-bottom: 5px !important;
                }
                
                form .col-sm-12,
                form .col-sm-6,
                form .col-sm-3,
                form .col-sm-10,
                form .col-sm-2 {
                    position: inherit !important;
                }
                
                .ta-scroll-window {
                    top: 10px;
                }
                
                .ta-toolbar .btn-group:first-child {
                    left: 5px;
                }
                
                .btn-date {
                    height: 40px;
                }
                
                .thumb-user {
                    margin-bottom: 0px !important;
                    border-radius: 5px !important;
                }
                
                .thumb-card {
                    padding: 20px !important;
                }
                
                .username {
                    margin-top: 0px !important;
                    font-family: OpenSans !important;
                    color: #2BBBAD;
                }
                
                .main {
                    font-family: OpenSans;
                    font-weight: 50 !important;
                    text-transform: none !important;
                }
                
                .modal-backdrop.in {
                    display: none !important;
                }
                
                #modalSignin {
                    overflow-y: auto;
                    z-index: 1700;
                    padding-right: 0px;
                }
                
                tr th {
                    font-family: Cuprum;
                    font-size: 16px;
                }
                
                td .td-title {
                    font-family: OpenSans;
                    font-weight: 300 !important;
                    text-transform: none;
                    color: #242D3C;
                }
                
                .mini-submenu {
                    background-color: #fff;
                    border: 1px solid #fff;
                    border-radius: 4px;
                    padding: 9px;
                    position: fixed;
                    top: 100px;
                    left: 0px;
                    width: 40px;
                }
                
                .mini-submenu:hover {
                    cursor: pointer;
                }
                
                .mini-submenu .icon-bar {
                    border-radius: 1px;
                    display: block;
                    height: 2px;
                    width: 22px;
                    margin-top: 3px;
                }
                
                .mini-submenu .icon-bar {
                    background-color: #000;
                }
                
                .side-menu {
                    float: left;
                    position: fixed;
                    top: 90px;
                    width: -15px;
                    z-index: 999;
                }
                
                .list-group {
                    display: none;
                    position: fixed;
                    top: 100px;
                    left: 0px;
                    border-color: #f5f5f5 !important;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
                }
                
                .list-group .info {
                    font-family: Cuprum !important;
                    font-size: 20px;
                    letter-spacing: 0.5px;
                    background-color: #242D3C !important;
                    color: #f75353 !important;
                }
                
                a.list-group-item.active,
                a.list-group-item.active:hover,
                a.list-group-item.active:focus {
                    z-index: 2;
                    color: #f75353;
                    font-family: OpenSans;
                    background-color: #fff;
                    border-color: #f5f5f5;
                }
                
                a.list-group-item:hover,
                a.list-group-item:focus {
                    color: #f75353;
                }
                
                #slide-submenu {
                    background: rgba(0, 0, 0, 0.45);
                    display: inline-block;
                    padding: 0 8px;
                    border-radius: 4px;
                    cursor: pointer;
                }
                /*@media (min-width: 470px) {
                    .rwd-table th,
                    .rwd-table td {
                        display: table-cell;
                    }
                    .rwd-table .removexs {
                        display: none;
                    }
                }
                */
                
                @media screen and (max-width: 470px) {
                    /*.table>thead>tr>th,
                    .table>tbody>tr>th,
                    .table>tfoot>tr>th,
                    .table>thead>tr>td,
                    .table>tbody>tr>td,
                    .table>tfoot>tr>td {
                        padding: 10px;
                        border: none
                    }
                    .rwd-table th {
                        display: none;
                    }
                    .rwd-table td:before {
                        content: attr(data-th)": ";
                        display: inline-block;
                    }
                    td.removecart {
                        display: none!important;
                    }
                    .rowBook {
                        border-top: 1px solid #ddd;
                        border-bottom: 1px solid #ddd;
                    }*/
                }
                /*@media screen and (max-width: 992px) {
                  
                }*/
                
                @media screen and (min-width: 768px) {
                    .input-group {
                        width: 170px;
                    }
                    .try {
                        padding-top: 15px !important;
                        padding-bottom: 15px !important;
                    }
                }
                
                @media screen and (max-width: 767px) {
                    .navbar-collapse.in {
                        overflow: hidden !important;
                    }
                    textarea {
                        width: 50%;
                    }
                    .input-group {
                        width: 80% !important;
                    }
                    .try {
                        padding-top: 15px !important;
                        padding-bottom: 15px !important;
                    }
                    footer {
                        margin-top: 20%;
                    }
                    /*.thumnail-gallery {
                        min-width: 160px !important;
                        min-height: 100% !important;
                    }*/
                    .flex-container {
                        display: -webkit-flex;
                        /* Safari */
                        display: flex;
                        -webkit-box-orient: vertical;
                        -moz-box-orient: vertical;
                        -webkit-flex-direction: column;
                        /* Safari */
                        flex-direction: column;
                        padding: 5px 10px;
                        text-align: center;
                        -webkit-justify-content: space-between;
                        /* Safari */
                        justify-content: space-between;
                        -webkit-align-items: center;
                        /* Safari */
                        align-items: center;
                    }
                    .item-logo {
                        -webkit-order: 0;
                        /* Safari */
                        order: 0;
                        margin-top: 0;
                    }
                    .item-info {
                        -webkit-order: 3;
                        /* Safari */
                        order: 3;
                        margin-top: 30px;
                    }
                    .item-social {
                        padding: 0 20px;
                        -webkit-order: 2;
                        /* Safari */
                        order: 2;
                        margin-top: 20px;
                    }
                    .img-flex {
                        width: 50%;
                    }
                    .img-user {
                        width: 45%;
                    }
                    .thumbnail-details {
                        margin-right: auto !important;
                        margin-left: auto !important;
                    }
                }
                
                @media screen and (min-width: 992px) {
                    /*#hotb .col-md-2,
                    #bests .col-md-2,
                    #staff .col-md-2 {
                        width: 20% !important;
                    }*/
                    .input-group {
                        width: 350px;
                    }
                }