<div class="container container-title" ng-init="viewProfile()">
    <div class="row row-main-search">
        <div class="hidden-xs col-sm-3 col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    <h4 style="color:#fff !important; font-family: OpenSans !important;"><b>{{user.name}}</b></h4>
                </div>
                <div class="panel-body">
                    <div class="thumbnail thumbnail-comt thumb-user">
                        <img ng-src="{{user.avatarUrl}}" class="img-responsive img-user" style="width:60%">
                    </div>
                </div>
            </div>
            <div class="panel panel-info panel-info-2">
                <div class="panel-heading">
                    <h4><b><i class="fa fa-home"></i>QUẢN LÝ TÀI KHOẢN</b></h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-pills-danger nav-stacked">
                        <li role="presentation"><a href="#/profile">Quản Lý Tài Khoản</a></li>
                        <li role="presentation"><a href="#/user/bill">Đơn Đặt Hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9" ng-init="getUserOder()">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    <h4><b>THÔNG TIN ĐƠN HÀNG</b></h4>
                </div>
                <tbody>
                    <div class="panel-body">
                        <div>
                            <table class="table table-bordered table-hover rwd-table">
                                <caption></caption>
                                <thead>
                                    <tr>
                                        <th class=" ">Tên sách</th>
                                        <th class="">Đơn giá</th>
                                        <th class="">Số lượng</th>
                                        <th class="">Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="order in orders">
                                    <tr ng-repeat="item in order.books" class="rowBook">
                                        <td class="" data-th="Tên sách">
                                            <h6 class="td-title">{{item._book.title}}</h6>
                                        </td>
                                        <td class="" data-th="Đơn giá">{{item.price|number:0}} <u>đ</u></td>
                                        <td class="" data-th="Số lượng">{{item.quantity}}</td>
                                        <th class="price " data-th="Thành tiền">{{item.price*item.quantity|number:0}} <u>đ</u></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

            </div>
        </div>
    </div>
</div>