<div ng-init="getBook()">
    <div class="container container-title">
        <div class="row row-main-search">
            <div class="col-md-12 hidden-xs">
                <ol class="breadcrumb bread-crumb">
                    <li class="breadcrumb-item"><a href="#/">Home</a></li>
                    <li class="breadcrumb-item"><a href="#/category">Danh mục</a></li>
                    <li class="breadcrumb-item active">{{book.title}}</a>
                    </li>
                </ol>
            </div>
        </div>

        <div class="row row-home">
            <div class="col-md-4 col-img">
                <div class="thumbnail thumbnail-details">
                    <img ng-src={{book.images.main}} class="img-details">
                </div>
            </div>
            <div class="col-md-1 col-offset-1 col-xs-0 col-break">
            </div>
            <div class="col-md-7 col-title try">
                <div class="well well-title">
                    <h3 class="b-title"><strong>{{book.title}}</strong></h3>
                    <h5 class="b-author au">{{book.author}}</h5>
                    <span uib-rating class="rate" ng-model="rateAvr" max="max" read-only="true" on-hover="hoveringOver(value)"></span>
                    <hr class="line" />
                    <h5 class="pre-price">{{book.previousPrice|number:0}} <u>đ</u><span class="label label-danger sale"> Tiết kiệm: {{sale}} %</span></h5>
                    <h4 class="sell-price">{{book.sellingPrice|number:0}} <u>đ</u></h4>
                    <hr class="line" />
                    <h5 class="b-author">Giới thiệu</h5>
                    <p ng-model="book.shortDescription" class="short-descript" ta-bind="text"></p>
                    <hr/>
                    <div class="input-group-btn">
                        <label>Số lượng</label><input type="number" class="form-control add-cart" ng-model="qty" min="0" />
                        <button class="btn btn-buy" ng-click="addCart(book)"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-home">
            <div class="col-md-12 col-descript">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4><b>GIỚI THIỆU SÁCH</b></h4>
                    </div>
                    <div class="panel-body" id="description">
                        <p ng-model="book.fullDescription" class="full-descript" ta-bind="text">

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-info">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4><b>THÔNG TIN CHI TIẾT</b></h4>
                    </div>
                    <div class="panel-body" id="additional">
                        <table class="table table-striped table-boredered">
                            <tbody>
                                <tr>
                                    <td>SKU</td>
                                    <td>{{book.sku}}</td>
                                </tr>

                                <tr>
                                    <td>Tác giả</td>
                                    <td>{{book.author}}</td>
                                </tr>

                                <tr>
                                    <td>Nhà xuất bản</td>
                                    <td>{{book.publisher}}</td>
                                </tr>

                                <tr>
                                    <td>Kích cỡ</td>
                                    <td>{{book.size.depth}}x{{book.size.width}}</td>
                                </tr>

                                <tr>
                                    <td>Trọng lượng vận chuyển</td>
                                    <td>{{book.weight}}</td>
                                </tr>

                                <tr>
                                    <td>Số trang</td>
                                    <td>{{book.pages}}</td>
                                </tr>

                                <tr>
                                    <td>Ngày xuất bản</td>
                                    <td>{{book.releaseDate|date:"dd/MM/yyyy"}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-buy" ng-click="addCart(book)"><i class="fa fa-shopping-cart"></i> MUA </button>
                    </div>

                </div>
            </div>
        </div>



        <div class="row row-home">
            <div class="col-md-12">
                <form name="cmtForm" ng-submit="addComment(book)" novalidate>
                    <h5 class="h-comt"><b>Đánh Giá Của Bạn</b><span uib-rating class="rate" ng-model="comment.rate" max="max" read-only="false" on-hover="hoveringOver(value)"></span></h5>
                    <h5 class="h-comt"><b>Nhận Xét Của Bạn <span ng-show="postForm.title.$invalid && !postForm.title.$pristine " class="text-danger"> Hãy để lại nhận xét</span></b></h5>
                    <textarea ng-model="comment.commentBody" name="commentBody" ng-required="true" class="textarea" rows="4" placeholder="Để lại nhận xét..."></textarea>
                    <span ng-show="cmtForm.commentBody.$invalid && !cmtForm.commentBody.$pristine " class="glyphicon glyphicon-remove form-control-feedback check-position"></span>
                    <i ng-show="!cmtForm.commentBody.$invalid" class="fa fa-check fa-check-set has-success form-control-feedback check-position"></i>
                    <button ng-disabled="cmtForm.$invalid || !isLogged()" class="btn btn-post" type="submit">Đăng</button>
                </form>
            </div>
        </div>
        <hr/>
        <div class="row row-home" ng-repeat="comment in book.comments| orderBy: createdDate:true">
            <div class="col-md-2 text-center">
                <div class="thumbnail thumbnail-comt">
                    <h5 class="user-name">{{comment._user.name}}</h5>
                    <img ng-src={{comment._user.avatarUrl}} class="img-responsive img-user" width="65%">
                </div>
            </div>

            <div class="col-md-10">
                <div class="well well-comt">
                    <p class="date">{{comment.createdDate|date:"dd/MM/yyyy"}} - <span uib-rating ng-model="comment.rate" max="max" read-only="true" on-hover="hoveringOver(value)"></span></p>
                    <hr class="line lines" />
                    <p class="comment-body">{{comment.commentBody}}</p>
                </div>
            </div>
        </div>
    </div>
</div>