<div class="container container-title" ng-init='getBookByGerne()'>
    <div class="row row-genre">
        <div class="col-md-3 col-sm-4 hidden-xs text-center sidebar" ng-init="getGenres()">
            <div class="panel panel-info" ng-show="genres.length>0">
                <div class="panel-heading">
                    <h4><b>DANH MỤC</b></h4>
                </div>
                <div class="panel-body">
                    <ol>
                        <li role="presentation" ng-repeat="genre in genres"><a href="#/category/{{genre._id}}">{{genre.name}}</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b>{{genreName()}}</b></h4>
                </div>
                <div class="panel-body text-center">
                    <div class="row row-books">

                        <div class="col-xs-12 col-sm-12 col-md-12" ng-show="!foundGenre">
                            <h5>{{notFound}}</h5>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12 col-gallery" ng-repeat="book in books">
                            <div class="thumbnail thumnail-gallery">
                                <a href="#/books/details/{{book._id}}">
                                    <div class="img-frame">
                                        <img ng-src={{book.images.main}} class="imgList">
                                    </div>
                                    <h5 class="title"><b>{{book.title|limitTo:30}}<span class="dote" ng-show="book.title.length>30">...</span></b></h5>
                                    <h6 class="author">{{book.author}}</h6>
                                    <h5 class="price">{{book.sellingPrice|number:0}} <u>đ</u></h5>
                                </a>
                                <hr/>
                                <button class="btn btn-buy" ng-click="addCart(book)"><span class="glyphicon glyphicon-shopping-cart" ng-click="addCart(book)"></span></button>
                                <button class="btn btn-like" ng-click="like(book)"><span class="glyphicon glyphicon-heart"></span></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>