<div class="container container-title" ng-init="getOrder()">
    <div class="row row-main-search">
        <div class="hidden-xs col-sm-3 col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b><i class="fa fa-home"></i>ADMIN</b></h4>
                </div>
                <div class="panel-body">
                    <div class="thumbnail thumbnail-admin">
                        <img src="img/user.png" class="img-responsive" style="width:80%">
                    </div>
                </div>
            </div>
            <div class="panel panel-info panel-info-2">
                <div class="panel-heading">
                    <h4><b>QUẢN LÝ</b></h4>
                </div>
                <div class="panel-body">
                    <ol>
                        <li><a href="#/">Home</a></li>
                        <li><a href="#/admin">Kho Sách</a></li>
                        <li><a href="#/admin/addbook">Thêm Sách</a></li>
                        <li><a href="#/admin/order">Đơn Hàng Của Khách</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    <h4><b>THÔNG TIN ĐƠN HÀNG</b></h4>
                </div>
                <div class="panel-body">
                    <div ng-repeat="order in orders">
                        <table class="table table-bordered table-hover rwd-table">
                            <caption>
                                <h6 style="color: cadetblue">Khách hàng {{order._user.name}}</h6>
                            </caption>
                            <thead>
                                <tr>
                                    <th class="">Tên sách</th>
                                    <th class="">Đơn giá</th>
                                    <th class="">Số lượng</th>
                                    <th class="">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in order.books" class="rowBook">
                                    <td class="" data-th="Tên sách">
                                        <h6 class="td-title">{{item._book.title}}</h6>
                                    </td>
                                    <td class="" data-th="Đơn giá">{{item.price|number:0}} <u>đ</u></td>
                                    <td class="" data-th="Số lượng">{{item.quantity}}</td>
                                    <td class="" data-th="Thành tiền">{{item.price*item.quantity|number:0}} <u>đ</u></td>
                                </tr>
                                <tr>
                                    <th colspan="3">
                                        <h6>Tổng tiền</h6>
                                    </th>
                                    <th colspan="2" class="price" data-th="Tổng tiền">{{order.total|number:0}} <u>đ</u></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>